{% extends "base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" xmlns="http://www.w3.org/1999/html">
</section>
<section class="content">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <div class="box">
            <div class="box-header with-border">
            <h2>List of videos</h2>
            </div>
            <div class="box-body">
                <table class="table dataTables">
                <thead>
                <tr>
                    <th class="text-center">name</th>
                    <th class="text-center">key</th>
                    <th class="text-center">bucket </th>
                    <th class="text-center">duration</th>
                    <th class="text-center">height</th>
                    <th class="text-center">width</th>
                    <th class="text-center">created</th>
                    <th class="text-center">view</th>
                </tr>
                </thead>
                <tbody>
                {% for v in video_list %}
                    <tr>
                        <td>{{ v.name }} </td>
                        <td>{{ v.key }} </td>
                        <td>{{ v.bucket }} </td>
                        <td class="text-right">{{ v.length_in_seconds }} </td>
                        <td class="text-right">{{ v.height }} </td>
                        <td class="text-right">{{ v.width }} </td>
                        <td class="text-center">{{ v.created }}</td>
                        <td class="text-center"><a href="/videos/{{ v.pk }}">view</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
</script>
{% endblock %}
