{% extends "base.html" %}
{% load staticfiles %}

{% block page_content %}
<section class="content-header" xmlns="http://www.w3.org/1999/html">
</section>
<section class="content">
<div class="row">
    <div class="col-lg-6">
        <div class="box">
            <div class="box-header with-border">
            <h2>List of frames with {{ object.key }}</h2>
            </div>
            <div class="box-body">
                <table class="table dataTables">
                <thead>
                <tr>
                        <th>key</th>
                        <th>seconds</th>
                        <th>view</th>
                </tr>
                </thead>
                <tbody>
                {% for f in frame_list %}
                    <tr>
                        <td>{{ f.key }} </td>
                        <td>{{ f.time_seconds }} </td>
                        <td><a href="/frames/{{ f.pk }}">view</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
    </div>
    <div class="col-lg-6">
        <div class="box">
        <div class="box-header with-border" >
            <h2>Video</h2>
        </div>
        <div class="box-body" style="text-align:center">
            <video controls="" preload="metadata" name="media" style="width:90%;margin-left:auto;margin-right:auto">
            <source src="{{url}}" type="video/mp4">
            </video>
        </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
</script>
{% endblock %}
